img {
    width:70px;
    margin-top: 10px;
    padding-left: 5px;
}

a {
    margin-top: 10px;
    font-size: 18px;
    color:#0366d6;
}

p {
    font-size: 16px;
    margin-top: 12px;
}


.row {
    padding-top: 5px;
    font-size: 14px;
    display: flex;
    margin-left: 10px;
    color: #24292e;
}

.location {
    font-size: 12px;
    color: #586069;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    padding-bottom: 5px
}

.person {
    max-width: 800px;
    margin-bottom: 10px;
    border: 2px solid lightgrey;
    border-radius: 2px;

}